<div class="footer-centered">
    <p class="footer-author">{{footerCtrl.author}}</p>

    <div class="footer-icons">
        <a href="https://www.facebook.com/mateus.amr1" target="_blank"><i class="fa fa-facebook"></i></a>
        <a href="https://br.linkedin.com/in/mateus-resende-a5b23640" target="_blank"><i class="fa fa-linkedin"></i></a>
        <a href="https://github.com/Mateus-Resende" target="_blank"><i class="fa fa-github"></i></a>
    </div>

    <p class="footer-creation-date">{{footerCtrl.creationDate}}</p>
</div>