.acme-navbar-text{
  color: #555;
}

.navbar a {
  color: #555;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

.navbar a:hover, a:focus {
    background-color: transparent;
    border-bottom: 3px solid #AA1423;
    cursor: pointer;
}

.navbar .navbar-nav li a {
    color: #555;
    background-color: transparent;
}

.navbar .navbar-nav > .active > a, .navbar .navbar-nav > .active > a:hover, .navbar .navbar-nav > .active > a:focus {
    border-bottom: 3px solid #AA1423;
    background-color: transparent;
    color: #555;
}